/* app css stylesheet */
@import url(https://fonts.googleapis.com/css?family=Roboto|Oswald);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#wall{
  background-size: cover;
  background-image: url(/app/assets/artists/wall.jpg);
  display: flex;
  justify-content: center;
  align-items: center;

}

#whiteText {
  color: white;
  text-align: center;
}

.pane{
  height:100vh;
  top: 40px; /* Header Height */
  bottom: 20px; /* Footer Height */
  width: 100%;
}

.artists{
  background-color: #FFC604;
  color:black;
  text-align: center;
}

#third{
  display: flex;
  justify-content: center;
  align-items: center;
  height:33vh
}
