/* app css stylesheet */
@import url(https://fonts.googleapis.com/css?family=Roboto|Oswald);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

#wall{
  background-size: cover;
  background-image: url(/app/assets/artists/wall.jpg);
  height: 100vh
}

#wallBack{
  background-size: cover;
  background-image: url(/app/assets/artists/wall.jpg);
  height: 82vh
}

#connection{
  background-size: cover;
  background-image: url(/app/assets/films/connection.jpg);
}

#mayday{
  background-size: cover;
  background-image: url(/app/assets/films/mayday.jpg);
}

#the-departure{
  background-size: cover;
  background-image: url(/app/assets/films/the-departure.jpg);
}

#columbite-tantalite{
  background-size: cover;
  background-image: url(/app/assets/films/columbite-tantalite.jpg);
}

#avftb{
  background-size: cover;
  background-image: url(/app/assets/highlights/a-view-from-the-bridge.jpg);
}

#columbite-tantalite2{
  background-size: cover;
  background-image: url(/app/assets/highlights/columbite-tantalite.jpg);
}

#diversity{
  background-size: cover;
  background-image: url(/app/assets/highlights/diversity-in-theatre.jpg);
}

#foreverYoung{
  background-size: cover;
  background-image: url(/app/assets/highlights/forever-young-gala.jpg);
}

#theatre{
  background-size: cover;
  background-image: url(/app/assets/intros/theatre.jpg);
}

#lucyWoollatt{
  background-size: cover;
  background-image: url(/app/assets/intros/lucyWoollatt.jpg);
}

#davidLan{
  background-size: cover;
  background-image: url(/app/assets/intros/davidLan.jpg);
}

#aDollsHouse{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights/a-dolls-house.jpg);
}

#aSeasonInTheCongo{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights/a-season-in-the-congo.jpg);
}

#aStreetcarNameDesire{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights/a-streetcar-named-desire.jpg);
}

#aViewFromTheBridge{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights/a-view-from-the-bridge.jpg);
}

#golem{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights/golem.jpg);
}

#happyDays{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights/happy-days.jpg);
}

#theScottsboroBoys{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights/the-scottsboro-boys.jpg);
}

#theValleyOfAstonishment{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights/the-valley-of-astonishment.jpg);
}

#aHarlemDream{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights2/a-harlem-dream.jpg);
}

#bull{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights2/bull.jpg);
}

#myPerfectMind{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights2/my-perfect-mind.jpg);
}

#sizweBanziIsDead{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights2/sizwe-banzi-is-dead.jpg);
}

#theEvents{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights2/the-events.jpg);
}

#trashCuisine{
  background-size: cover;
  background-image: url(/app/assets/prodhighlights2/trash-cuisine.jpg);
}

#map{
  height: 100vh;
  background-size: cover;
  background-image: url(/app/assets/tours/map.png);
}

#whiteText {
  color: white;
  text-align: center;
  width: 100%
}

#yellowText {
  color: #FFC700;
  text-align: center;
}

#alignLeft{
  text-align: left;
}

#alignRight{
  text-align: right;
}

.pane{
  height:100vh;
  top: 40px; /* Header Height */
  bottom: 20px; /* Footer Height */
  width: 100%;
  float:left;
  clear:none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paneEighty{
  height:80vh;
  top: 40px; /* Header Height */
  bottom: 20px; /* Footer Height */
  width: 100%;
  float:left;
  clear:none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artists{
  background-color: #FFC604;
  color:black;
  text-align: center;
}

.large{
  font-size: 100px;
}

#border{
  border-right-style: solid;
  border-right-width: 1px;
}

#borderBoth{
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
}

.menu{
  height: 100vh;
  position: absolute;
  float:left;
  width: 33vh;
  background-color: #FFC700;
}

.menu-content{
  margin-top: 20%;
  margin-left: 10%;
}

.indent{
  margin-left: 10%;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: left;
}

.close{
float: left;
}

#third{
  display: flex;
  justify-content: center;
  align-items: center;
  height:33vh
}

.yellowBorder{
  width: 100%;
  float: left;
  clear:none;
  background-image: url(/app/assets/supporters/yellowBorder.png);
}

.brownBorder{
  float:left;
  clear:none;
  width: 50%;
  background-image: url(/app/assets/supporters/brownBorder.png);
}

.darkBrownBorder{
  float:left;
  clear:none;
  width: 50%;
  background-image: url(/app/assets/supporters/darkBrownBorder.png);
}

.redBorder{
  float:left;
  clear:none;
  width: 100%;
  background-image: url(/app/assets/supporters/redBorder.png);
}

.greenBorder{
  float:left;
  clear:none;
  width: 100%;
  background-image: url(/app/assets/supporters/greenBorder.png);
}

.darkGreenBorder{
  float:left;
  clear:none;
  width: 100%;
  background-image: url(/app/assets/directors/greenBorder.png);
}

.mudBrownBorder{
  float:left;
  clear:none;
  width: 100%;
  background-image: url(/app/assets/directors/brownBorder.png);
}

.purpleBorder{
  float:left;
  clear:none;
  width: 100%;
  background-image: url(/app/assets/directors/blueBorder.png);
}

.greenTrans{
  background-color: rgba(0, 119, 108, 0.5)
}

.pinkTrans{
  background-color: rgba(153, 20, 65, 0.5)
}

.blueTrans{
  background-color: rgba(59, 64, 135, 0.8)
}

.blackBackground{
  background-color: black;
}

.greenFullBackground{
  width: 100%;
  float:left;
  clear:none;
  background-color: #598A52
}

.greenBackground{
  width: 50%;
  float:left;
  clear:none;
  background-color: #598A52
}

.tealBackground{
  width: 100%;
  float:left;
  clear:none;
  background-color: #00796D
}

.purpleBackground{
  float:left;
  clear:none;
  width: 100%;
  background-color: #434689
}

.charcoalBackground{
  float:left;
  clear:none;
  width: 100%;
  background-color: #332C27
}

.pinkBackground{
  height:100vh;
  background-color: #8D3161
}

.brownBackground{
  height:100vh;
  background-color: #7D6164
}

.brownBack{
  width: 50%%;
  float:left;
  clear:none;
  background-color: #7D6164
}

.darkBrownBackground{
  width: 50%;
  float:left;
  clear:none;
  background-color: #684942
}

.redBackground{
  width: 50%;
  float:left;
  clear:none;
  background-color: #A51544
}

.yellowBackground{
  text-align: center;
  float:left;
  clear:none;
  width:100%;
  background-color: #FFC700;
}
