/* app css stylesheet */
@import url(https://fonts.googleapis.com/css?family=Roboto|Oswald);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#wall{
  background-size: cover;
  background-image: url(/app/assets/artists/wall.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#connection{
  background-size: cover;
  background-image: url(/app/assets/films/connection.jpg);
}

#mayday{
  background-size: cover;
  background-image: url(/app/assets/films/mayday.jpg);
}

#the-departure{
  background-size: cover;
  background-image: url(/app/assets/films/the-departure.jpg);
}

#columbite-tantalite{
  background-size: cover;
  background-image: url(/app/assets/films/columbite-tantalite.jpg);
}

#whiteText {
  color: white;
  text-align: center;
}

.pane{
  height:100vh;
  top: 40px; /* Header Height */
  bottom: 20px; /* Footer Height */
  width: 100%;
  float: left;
}

.artists{
  background-color: #FFC604;
  color:black;
  text-align: center;
}

#third{
  display: flex;
  justify-content: center;
  align-items: center;
  height:33vh
}

.greenBackground{
  background-color: #598A52
}

.tealBackground{
  background-color: #00796D
}

.purpleBackground{
  background-color: #434689
}

.charcoalBackground{
  background-color: #332C27
}
